<%= simple_form_for(@unidade, html: {class: 'form-horizontal'}) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
	<%= f.input :nome, label: 'Unidade' %> 
	<br />
	<h2><small>Endereço</small></h2>
	<%= f.input :logradouro, input_html: {class: 'span6'}, placeholder: "Rua Miguel de Frias" %>
	<%= f.input :numero, label: "Número", placeholder: "9", input_html: {class: 'span1'}, as: :string %>
	<%= f.input :bairro %>
	<%= f.input :cidade %>
	<%= f.input :uf, label: 'UF', input_html: {class: 'span1'} %>
	<%= f.input :complemento, placeholder: "Bloco Z", input_html: {class: 'span2'} %>
</div>
<%= f.button :submit, "Salvar",class: "btn btn-primary" %>
<%= link_to 'Voltar', unidades_path, class: 'btn' %>
<% end %> 