<div class="page-header">
	<h1>Unidades de Ensino</h1>
</div>
<% if (@unidades.empty?) %>
	<%= bloco_vazio "Clique em Cadastrar Unidade.", "", class: "well span10 construcao" %>
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Unidade</th>
      <th>Departamentos</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @unidades.each do |unidade| %>
      <tr>
        <td><%= link_to unidade.nome , unidade %></td>
        <td><%= unidade.departamentos.count %></td>
        <td>
          <%= link_to "Informações", unidade, class: 'btn btn-small' %>
          <%= link_to "Editar", edit_unidade_path(unidade), class: 'btn btn-small' %>
          <%= link_to 'Remover', unidade_path(unidade), confirm: 'Tem certeza?', method: :delete, class: "btn btn-small btn-info" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= botao_com_icone "Cadastrar Unidade", new_unidade_path, "icon-plus icon-white", btn_class: "btn-primary" %>
<%= link_to 'Início', administracao_path, class: 'btn' %>

