<div class="page-header">
	<h1><%= @unidade.nome %> <small> Unidade de Ensino</small></h1>
</div>
<div class="row-fluid linha-conteudo">
	<div class="span5 well">
		<h3>Informações <small><%= botao_com_icone "Editar", edit_unidade_path(@unidade), "icon-edit icon-white", btn_class: "btn btn-mini btn-primary edit-button" %></small></h3>
		<hr>
		<p>
			<b>Coordenador:</b>
		</p>
		<p>
			<b>Endereço:</b>
			<br />
			<%= @unidade.logradouro %>, <%= @unidade.numero %>
			<br />
			<%= @unidade.complemento %> - <%= @unidade.bairro %> - <%= @unidade.cidade %>, <%= @unidade.uf %>
		</p>
	</div>
		<% if (@departamentos.empty?) %>
			<% btn_vazio = botao_com_icone "Cadastrar Departamento", novo_departamento_com_unidade_path(@unidade.id), "icon-plus icon-white", class: "btn btn-primary btn-large"%>
			<%= bloco_vazio "Clique em Cadastrar Unidade.", btn_vazio, class: "well span10 construcao" %>
		<% else %>
			<div class="well span5">
				<h3>Departamentos Cadastrados <small><%= botao_com_icone "Cadastrar Departamento", novo_departamento_com_unidade_path(@unidade.id), "icon-plus icon-white", btn_class: "btn-primary btn-mini edit-button" %></small></h3>
				<hr>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Departamento</th>
							<th>Coordenador</th>
						</tr>
					</thead>
					<tbody>
						<% @departamentos.each do |departamento|%>
						<tr>
							<td><%= link_to departamento.nome, departamento %></td>
							<td>Professor</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		<% end %>
</div>
<div class="row-fluid linha-conteudo">
	<%= bloco_contato contato: @contato, obj: @unidade, class: "span5" %>
</div>
</div>
<br />
<%= link_to 'Editar', edit_unidade_path(@unidade), class: 'btn' %>
<%= link_to 'Voltar', unidades_path, class: 'btn'	 %> 