<%= form_for(@rede) do |f| %>
<% if @rede.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@rede.errors.count, "error") %> prohibited this rede from being saved:</h2>
	<ul>
		<% @rede.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="row-fluid">
	<div class="field">
		<%= f.text_field :nome, style: "position:relative;top:4px;"%>
		<%= f.submit "Salvar", class: "btn btn-primary" %>
	</div>
		<p>Descrição:</p>
		<%= f.text_area :descricao ,class: "input-xlarge" %>
</div>
<% end %> 
