<div class="page-header">
	<h1>Redes Temáticas</h1>
</div>
<% if @redes.any? %>
	<% @redes.each do |rede| %>
<div class="row-fluid">
	<div class="well">
		<%= link_to  rede.nome, rede_palavras_path(rede), class:"rede_tematica" %>
		<p><%= rede.descricao %></p>
		<div class="row-fluid controles">
			<%= link_to 'Alterar Informações', edit_rede_path(rede), class: "btn"%>
			<%= link_to 'Gerenciar Palavras-Chave', rede_palavras_path(rede), class: "btn"%>
			<%= link_to 'Remover', rede, confirm: 'Tem certeza que quer remover esta rede temática?', method: :delete, class: "btn btn-info" %>		
		</div>
	</div>
</div>
	<% end %>
<% else %>
<div class="row-fluid">
	<%= bloco_vazio "Clique em Cadastrar Rede Temática", "",class: "span10 well construcao"%>
</div>
<% end %>

<%= botao_com_icone "Cadastrar Rede Temática", new_rede_path, "icon-plus icon-white", btn_class: "btn-primary" %>
<%= link_to 'Início', administracao_path, class: 'btn' %>
