<div class="page-header">
	<h1><%= @rede.nome %></h1>
</div>

<p>
  <b>Descrição:</b>
  <br /><%= @rede.descricao %>
</p>
<p>
  <b>Palavras Chave:</b>
  <% @palavras.each do |palavra| %>
  	<br /><span class="label label-info"><%= palavra.expressao %></span>
  <% end %>
</p>
<form class="well form-inline">
	<input type="text" class="span3" placeholder="Nova Palavra Chave" id="palavra_form">
	<button type="submit" class="btn btn-primary" id="palavra_submit">Adicionar</button>
</form>

<%= link_to 'Alterar Informações', edit_rede_path(@rede), class: "btn" %> <%= link_to 'Voltar', redes_path, class: "btn" %>
