<%= simple_form_for(@departamento) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.association :unidade %>
  </div>

    <%= f.button :submit, "Salvar", class: "btn btn-primary" %>
    <%= link_to 'Voltar', departamentos_path, class: 'btn' %>
<% end %>


