<div class="page-header">
	<h1>Departamentos</h1>
</div>
<% if (@departamentos.empty?) %>
	<%= bloco_vazio "Clique em Cadastrar Cadastrar Departamento.", "", class: "well span10 construcao" %>
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Departamento</th>
      <th>Unidade</th>
      <th>Nº de Professores</th>
      <th>Nº de Laboratórios</th>
    </tr>
  </thead>
  <tbody>
<% @departamentos.each do |departamento| %>
      <tr>
        <td><%= link_to departamento.nome , departamento %></td>
        <td><%= link_to departamento.unidade.nome , departamento.unidade %></td>
        <td>0</td>
        <td><%= departamento.laboratorios.count %></td>
        <td>
          <%= link_to "Informações", departamento, class: 'btn btn-small' %>
          <%= link_to "Editar", edit_departamento_path(departamento), class: 'btn btn-small' %>
          <%= link_to 'Remover', departamento_path(departamento), confirm: 'Tem certeza?', method: :delete, class: "btn btn-small btn-info" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= botao_com_icone "Cadastrar Departamento", new_departamento_path, "icon-plus icon-white", btn_class: "btn-primary" %>
<%= link_to 'Início', administracao_path, class: 'btn' %>

