<div class="page-header">
	<h1><%= @departamento.nome %> <small> <%= @departamento.unidade.nome %></small></h1>
</div>
<div class="row-fluid linha-conteudo">
		<div class="well span5">
			<h3>Informações <small><%= botao_com_icone "Editar", edit_departamento_path(@departamento), "icon-edit icon-white", btn_class: "btn btn-mini btn-primary edit-button" %></small></h3>
			<hr>
			<dl>
				<dt>Nome do Departamento</dt>
				<dd><%= @departamento.nome %></dd>
				<dt>Unidade</dt>
				<dd><%= @departamento.unidade.nome %></dd>
				<dt>Coordenador</dt>
				<dd><%= link_to "Professor", "#" %></dd>
				<dt>Número de laboratórios vinculados</dt>
				<dd><%= @laboratorios.count %></dd>
			</dl>
		
		</div>
		<% if @departamento.laboratorios.empty? %>
			<% btn_vazio = botao_com_icone "Cadastrar Laboratório", novo_laboratorio_com_departamento_path(@departamento.id), "icon-plus icon-white", btn_class: "btn btn-primary btn-large alert-button" %>
			<%= bloco_vazio "Nenhum laboratório cadastrado neste departamento.", btn_vazio, class: "well span5 construcao" %>
		<% else %>
		<div class="well span5">
			<h3>Laboratórios Associados <small><%= botao_com_icone "Cadastrar Laboratório", novo_laboratorio_com_departamento_path(@departamento.id), "icon-plus icon-white", btn_class: "btn btn-primary btn-mini edit-button" %></small></h3>
			<hr>
			<table class="table table-striped">
				<thead>
					<th>Laboratorio</th>
					<th>Coordenador</th>
				</thead>
				<tbody>
				<% @departamento.laboratorios.each do |l| %>
					<td><%= link_to l, l %></td>
					<td>Professor</td>
				<% end %>	
				</tbody>
			</table>
		</div>
		<% end %>
</div>
<br />
<div class="row-fluid linha-conteudo">
	<%= bloco_contato contato: @contato, obj: @departamento, class: "span5" %>
	<%= bloco_vazio "Nenhum professor cadastrado neste departamento.", "", class: "well span5 construcao" %>
</div>

<br />
<%= link_to 'Editar', edit_departamento_path(@departamento), class: 'btn' %>
<%= link_to 'Voltar', departamentos_path, class: 'btn' %> 