<%= simple_form_for(@contato) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :telefone, input_html: {value: @contato.telefone} %>
    <%= f.input :celular, input_html: {value: @contato.celular} %>
    <%= f.input :email, input_html: {value: @contato.email} %>
    <%= f.input :obj_id, as: :hidden, input_html: { value: @obj.id } %>
    <%= f.input :obj_type, as: :hidden, input_html: { value: @obj.class } %>
  </div>
    <%= f.button :submit, "Salvar", class: "btn btn-primary" %>
    <%= link_to 'Voltar', @obj, class: 'btn' %>
<% end %>


