<%= simple_form_for(@pessoa) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :username %>
    <%= f.input :cpf %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
