<div class="page-header">
  <h1>Cadastrar Novo Usuário</h1>
</div>
<%= simple_form_for(@pessoa) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs well span8">
  	<div class="row">
  		<div class="span4">
	    	<%= f.input :nome, label: "Nome" %>
  		</div>
  	</div>
  	<div class="row">
  		<div class="span4">
    		<%= f.input :username, label: "Login" %>
  		</div>
  		<div class="span4">
    		<%= f.input :cpf, label: "CPF" %>
    	</div>
  	</div>
  	<div class="row">
    	<div class="span4">
    		<%= f.input :password, label: "Senha" %>
    	</div>
    	<div class="span4">
    		<%= f.input :password_confirmation, label: "Confirme a senha" %>
    	</div>
  	</div>
  </div>
  <br>
  <div class="span8">
    <%= f.button :submit, "Salvar", class: "btn btn-primary" %>
    <%= link_to 'Voltar', home_path, class: 'btn' %>
  </div>
<% end %>
