<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @pessoa.nome %>
</p>

<p>
  <b>Username:</b>
  <%= @pessoa.username %>
</p>

<p>
  <b>Cpf:</b>
  <%= @pessoa.cpf %>
</p>


<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
