<%= simple_form_for(@laboratorio, html: {class: "form-inline"}) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
	<div class="row-fluid">
		<div class="span5">
			<%= f.input :nome, label: 'Nome', input_html: {class: "span4"} %>
			<%= f.input :descricao, label: 'Descrição',input_html: {class: "span4"} %>
		</div>
		<div class="span5">
			<%= f.input :sigla, label: 'Sigla', input_html: {class: "span2"} %>
			<%= f.association :departamento, label: 'Departamento Associado', input_html: {class: "span4"}, :collection => Departamento.order(:nome)  %>
			<%= f.label :palavra_tokens, "Palavras-Chave" %> <br>
			<%= f.text_field :palavra_tokens, class: "span4", "data-pre" => @laboratorio.palavras.to_json(only: [:id, :expressao]) %>
		</div>
	</div>
</div>
<%= f.button :submit, "Salvar", class: "btn btn-primary" %>
<%= link_to 'Voltar', laboratorios_path, class: 'btn' %>
<% end %> 