<div class="page-header">
	<h1>Laboratórios</h1>
</div>
<div class="row-fluid">
<% if (@laboratorios.empty?) %>
	<%= bloco_vazio "Clique em Cadastrar Laboratório.", "", class: "well span10 construcao" %>
<% else %>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Laboratório</th>
			<th>Coordenador</th>
			<th>Departamento</th>
			<th></th>
		</tr>
	</thead>
	<% @laboratorios.each do |laboratorio| %>
	<tr>
		<td><%= link_to laboratorio, laboratorio %>
		<td><%= link_to "professor", "#" %></td>
		<td><%= link_to laboratorio.departamento, laboratorio.departamento %></td>
		<td>
			<%= link_to 'Informações', laboratorio, class: "btn btn-small" %>
			<%= link_to 'Editar', edit_laboratorio_path(laboratorio), class: "btn btn-small" %>
			<%= link_to 'Remover', laboratorio, confirm: 'Tem certeza que quer remover este laboratório?', method: :delete, class: "btn btn-small btn-info" %>
		</td>
	</tr>
	<% end %>
</table>
<% end %>

</div>
<%= botao_com_icone "Cadastrar Laboratório", new_laboratorio_path, "icon-plus icon-white", btn_class: "btn-primary" %>
<%= link_to 'Início', administracao_path, class: 'btn' %>
