<div class="page-header">
	<h1><%= @laboratorio.nome %> <small> <%= @laboratorio.sigla %></small></h1>
</div>
<div class="row-fluid linha-conteudo">
	<div class="well span5">
		<h3>Informações <small><%= botao_com_icone "Editar", edit_laboratorio_path(@laboratorio), "icon-edit icon-white", btn_class: "btn btn-mini btn-primary edit-button" %></small></h3>
		<hr>
		<dl>
			<dt>Nome do Laboratório</dt>
			<dd><%= @laboratorio.nome %></dd>
			<dt>Sigla</dt>
			<dd><%= @laboratorio.sigla? ? @laboratorio.sigla : "Não possui" %></dd>
			<dt>Coordenador</dt>
			<dd><%= link_to "Professor", "#" %></dd>
			<dt>Departamento Vinculado</dt>
			<dd><%= link_to @laboratorio.departamento, @laboratorio.departamento %></dd>
			<dt>Unidade Vinculada</dt>
			<dd><%= link_to @laboratorio.departamento.unidade, @laboratorio.departamento.unidade%></dd>
		</dl>
		
	</div>
	<%= bloco_contato contato: @contato, obj: @laboratorio, class: "span5" %>
</div>
<div class="row-fluid linha-conteudo">
	<% if @redes.any? %>
		<div class="well span5">
			<h3>Redes Temáticas</h3>
			<hr>
			<% @redes.each do |r| %>
				<div class="row-fluid">
					<%= content_tag :span, r.nome, class: "label rede-chave", id: r.nome.parameterize %>
				</div>
			<% end %>
			<br>
		</div>
	<% else %>
		<%= bloco_vazio "Nenhuma rede temática associada a este laboratório. As redes são relacionadas aos laboratórios através das palavras-chave.", "", class: "well span5 construcao" %>
	<% end %>
	<% if @palavras.any? %>
		<div class="well span5">
			<h3>Palavras-Chave <small> <%= botao_com_icone "Editar", edit_laboratorio_path(@laboratorio), "icon-edit icon-white", btn_class: "btn btn-mini btn-primary edit-button" %></small></h3>
			<hr>
			<% @palavras.each do |p| %>
				<div class="row-fluid">
					<%= content_tag :span, p.expressao, class: "label palavra-chave", "data-rede" => "#{p.rede.nome.parameterize}" %>
				</div>
			<% end %>
			<br>
		</div>
	<% else %>
		<% botao_vazio =  botao_com_icone "Preencher Palavras-Chave", edit_laboratorio_path(@laboratorio), "icon-plus icon-white", btn_class: "btn btn-primary btn-large" %>
		<%= bloco_vazio "Nenhuma palavra-chave associada a este laboratório.", botao_vazio, class: "well span5 construcao" %>
	<% end %>
</div>
<div class="row-fluid linha-conteudo">
	<% if false %>
		<div class="well span5">
			<h3>Equipe</h3>
		</div>
	<% else %>
		<%= bloco_vazio "Nenhum membro adicionado para este laboratório.", "", class: "well span5 construcao" %>
	<% end %>
	<% if @laboratorio.descricao.present? %>
	<div class="well span5">
		<h3>Descricao<small><%= botao_com_icone "Editar", edit_laboratorio_path(@laboratorio), "icon-edit icon-white", btn_class: "btn btn-mini btn-primary edit-button" %></small></h3>
		<hr>
		<p><%= @laboratorio.descricao %></p>
	</div>
	<% else %>
		<% botao_vazio =  botao_com_icone "Preencher Descrição", edit_laboratorio_path(@laboratorio), "icon-edit icon-white", btn_class: "btn btn-primary btn-large" %>
		<%= bloco_vazio "Este laboratório não possui uma descrição", botao_vazio, class: "well span5 construcao" %>
	<% end %>
</div>
<%= link_to 'Editar', edit_laboratorio_path(@laboratorio), class: 'btn' %>
<%= link_to 'Voltar', laboratorios_path, class: 'btn' %> 