<%= form_for(@palavra) do |f| %>
  <% if @palavra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@palavra.errors.count, "error") %> prohibited this palavra from being saved:</h2>

      <ul>
      <% @palavra.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :expressao %><br />
    <%= f.text_field :expressao %>
  </div>
  <div class="field">
    <%= f.label :rede_id %><br />
    <%= f.number_field :rede_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
