<div class="page-header">
	<h1><%= @rede.nome %></h1>
</div>
<p>
	<b>Descrição:</b>
	<br />
	<%= @rede.descricao %>
</p>
<%= form_for [@rede, @palavra], html: {class: 'form-inline well'} do |f| %>
<span class="palavra-form-label">Nova Palavra Chave:</span>
<%= f.text_field :expressao, placeholder: "Uma palavra por vez" %>
<%= f.submit 'Incluir', class: 'btn btn-primary' %>
<% end %>
<% if @palavras.any? %>
<table class="table">
	<thead>
		<tr>
			<th>Palavras Chave</th>
			<th>Laboratórios</th>
			<th>Projetos</th>
			<th>Serviços</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @palavras.each do |palavra| %>
		<tr>
			<td><span class="label label-info"><%= palavra.expressao %></span></td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td><%= link_to 'Remover', rede_palavra_path(@rede, palavra), confirm: 'Tem certeza?', method: :delete, class: "btn btn-mini btn-info" %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>
	<div class="row-fluid">
		<%= bloco_vazio "Use o controle acima para adicionar palavras a esta rede.", "",class: "well construcao"%>
	</div>
<% end %>
<%= link_to 'Voltar', redes_path, class:'btn'%>
