<p id="notice"><%= notice %></p>

<p>
  <b>Expressao:</b>
  <%= @palavra.expressao %>
</p>

<p>
  <b>Rede:</b>
  <%= @palavra.rede_id %>
</p>


<%= link_to 'Edit', edit_palavra_path(@palavra) %> |
<%= link_to 'Back', palavras_path %>
