@import "variables";

.palavra-form-label {
  margin-right: 15px;
}

.coisa-chave {
  font-weight: bold;
  margin: 5px 0 5px;
  display: block;
  text-align: center;
  
}

.palavra-chave {
  padding: 10px;
  font-size: 1.4em;
  .coisa-chave
}

.rede-chave {
  padding: 18px;
  font-size: 1.7em;
  .coisa-chave
}

.palavra-selecionada {
  font-size: 1.6em;
  background: @linkColor;
}

.rede-selecionada {
  font-size: 2em;
  background: @linkColor;
}