<% menu = carregar_menu(request.path) %>
<% if current_page?("/") %>
	<%= content_tag :div, yield, class: "welcome" %>
<% else %>
<div class="container-fluid conteudo_wrapper">
	<div class="row-fluid">	
		<div class="span2">
			<%= render "sidebar" %>
		</div>
		<%= content_tag :div, yield, class: "span10 page_front" %>
	</div>
</div>
<%= render "footer"%>
<% end %>
