    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
          <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "Mapa UFF de  Inovação", home_path, class: "brand" %>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
                <li><%= link_to "Redes Temáticas", redes_path  %></li>
                <li><%= link_to "Laboratórios", laboratorios_path  %></li>
                <li><%= link_to "Departamentos", departamentos_path  %></li>
                <li><%= link_to "Unidades", unidades_path  %></li>
				<li><%= link_to "Professores", construcao_path  %></li>
				<li><%= link_to "Administração", administracao_path  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
