	<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Administração</li>
              <li><%= link_to "Início", administracao_path  %></li>
              <li><%= link_to "Redes Temáticas", redes_path  %></li>
              <li><%= link_to "Laboratórios", laboratorios_path  %></li>
              <li><%= link_to "Departamentos", departamentos_path  %></li>
              <li><%= link_to "Unidades", unidades_path  %></li>
            </ul>
          </div><!--/.well -->
