<div class="container-fluid">
	<div class="row-fluid item-line">
		<div class="span5">
			<%= link_to image_tag('rede.png'), redes_path %>
			<p class="item">
				<%= link_to "Redes Temáticas", redes_path %>
			</p>
		</div>
		<div class="span5">
			<%= link_to image_tag('laboratorio.png'), laboratorios_path %>
			<p class="item">
				<%= link_to "Laboratorios", laboratorios_path %>
			</p>
		</div>
	</div>
	<div class="row-fluid item-line">
		<div class="span5">
			<%= link_to image_tag('departamento.png'), departamentos_path %>
			<p class="item">
				<%= link_to "Departamentos", departamentos_path %>
			</p>
		</div>
		<div class="span5">
			<%= link_to image_tag('unidade.png'), unidades_path %>
			<p class="item">
				<%= link_to "Unidades de Ensino", unidades_path %>
			</p>
		</div>
	</div>
	<div class="row-fluid item-line">
		<div class="span5">
			<%= link_to image_tag('professor.png'), construcao_path %>
			<p class="item">
				<%= link_to "Professores", construcao_path %>
			</p>
		</div>
	</div>
</div>