<div class="front-card-wrapper">
	<div class="row">
		<div class="front-card span5">
			<h1>Mapa UFF de Inovação</h1>
			<hr>
			<p>
				Descubra os laboratórios, núcleos de pesquisa e competências da Universidade Federal Fluminense
			</p>
		</div>
		<div class="front-card-rigth span4">
			<div class="front-card">
				 <input type="text" placeholder="Usuário">
				 <input type="text" placeholder="Senha">
				 <%= link_to "Entrar", administracao_path, class: "btn"%>
				 <%= link_to "Cadastrar-se", new_pessoa_path, class: "btn"%>
			</div>
		</div>
	</div>
</div>
