<div class="hero-unit construcao">
	<%= image_tag('construction.png') %>
	<h2>
		Esta seção ainda está sendo construída.
	</h2>
		<p>alexandre.abreu.uff@gmail.com</p>
		<%= link_to "Voltar", :back, class: "btn btn-large" %>
</div>
