<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mapa UFF de Inovação</title>
		<%= csrf_meta_tags %> <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
		<![endif]-->
		<!-- Le styles -->
		<%= stylesheet_link_tag "application", :media => "all" %> <!-- Le fav and touch icons -->
		<%= favicon_link_tag "/favicon.ico" %>
		<link href="images/apple-touch-icon.png" rel="apple-touch-icon">
		<link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
		<link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
	</head>
	<body>
		<%= render "navbar" %>
		<%= render "conteudo"%>
		<%= javascript_include_tag "application" %>
	</body>
</html>
